@charset "UTF-8";
/*申明编码集*/
html,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

body {
  font: 14px Helvetica, Tahoma, Arial, Hiragino Sans GB, Microsoft YaHei, SimSun, Heiti, sans-serif;
}

a,
u {
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  /*去掉img下方的间距*/
  border: none;
}

input {
  outline: none;
  /*去掉选中时的蓝色边框*/
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 16px;
}

b,
strong {
  font-weight: normal;
}

.clearFixed::before {
  content: ".";
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

body,
html {
  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #FFF;
  margin: 0;
  color: #515151;
}

body #content,
html #content {
  width: 100%;
  position: relative;
  min-height: 750px;
  max-height: 1080px;
  background-image: linear-gradient(#edfcfd 0%, #faffff 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background: url(../imgs/index/pic-flyme.png) no-repeat;
  background-position: 50% 50%;
  background-image: 100% 680px;
  padding-top: 20px;
}

body #content .header,
html #content .header {
  width: 1240px;
  margin: 0 auto;
  position: relative;
}

body #content .header a,
html #content .header a {
  display: block;
  width: 110px;
  height: 20px;
  font-size: 20px;
  color: #2ABDEF;
  font-weight: 700;
}

body #content .bg-box,
html #content .bg-box {
  position: relative;
  width: 1240px;
  height: 750px;
  margin: 0 auto;
}

body #content .bg-box .main-form,
html #content .bg-box .main-form {
  width: 298px;
  height: 422px;
  padding: 72px 35px 20px;
  position: absolute;
  top: 15%;
  right: 85px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 6px 12px 0 #8a9996;
}

body #content .bg-box .main-form .tab-title,
html #content .bg-box .main-form .tab-title {
  width: 298px;
  height: 24px;
  text-align: center;
}

body #content .bg-box .main-form .tab-title a,
html #content .bg-box .main-form .tab-title a {
  text-decoration: none;
  font-size: 14px;
  margin: 0 auto;
  color: #00a7ea;
}

body #content .bg-box .main-form .tab-title a:hover,
html #content .bg-box .main-form .tab-title a:hover {
  color: #387aff;
}

body #content .bg-box .main-form .normalInput,
html #content .bg-box .main-form .normalInput {
  font-size: 18px;
  display: block;
  height: 46px;
  overflow: visible;
  margin-top: 100px;
  border-radius: 2px;
  padding: 0 10px;
  width: 276px;
  line-height: 50px;
  border: 1px solid #dadada;
}

body #content .bg-box .main-form .normalInput span,
html #content .bg-box .main-form .normalInput span {
  width: 60px;
  height: 45px;
  border-right: 1px solid #eee;
}

body #content .bg-box .main-form .normalInput span i,
html #content .bg-box .main-form .normalInput span i {
  margin-right: 5px;
}

body #content .bg-box .main-form .normalInput .ipt-phone,
html #content .bg-box .main-form .normalInput .ipt-phone {
  margin: 14px 16px 0;
  border: none;
}

body #content .bg-box .main-form .verify-box,
html #content .bg-box .main-form .verify-box {
  font-size: 16px;
  display: block;
  overflow: visible;
  margin-top: 40px;
  border-radius: 2px;
  width: 296px;
  height: 48px;
  border: 1px solid #dadada;
}

body #content .bg-box .main-form .verify-box input,
html #content .bg-box .main-form .verify-box input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

body #content .bg-box .main-form .register-box,
html #content .bg-box .main-form .register-box {
  display: inline-block;
  height: 50px;
  width: 298px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  margin-top: 70px;
  *margin-bottom: 10px;
  outline: none;
  cursor: pointer;
  background-color: #387AFF;
  border-radius: 2px;
}

body #content .bg-box .main-form .register-box a,
html #content .bg-box .main-form .register-box a {
  color: #fff;
}

body #content .bg-box .main-form .login-box,
html #content .bg-box .main-form .login-box {
  width: 100%;
  height: 20px;
  margin-top: 10px;
}

body #content .bg-box .main-form .login-box a,
html #content .bg-box .main-form .login-box a {
  color: #387AFF;
}

body #content .flymeFooter,
html #content .flymeFooter {
  position: relative;
  height: 130px;
}

body #content .flymeFooter .footerInner,
html #content .flymeFooter .footerInner {
  position: relative;
  width: 1000px;
  height: 60px;
  margin: 24px auto 30px;
}

body #content .flymeFooter .footerInner .footer-layer1,
html #content .flymeFooter .footerInner .footer-layer1 {
  position: relative;
  width: 100%;
  line-height: 50px;
  margin: 0 auto;
}

body #content .flymeFooter .footerInner .footer-layer1 .footer-innerLink,
html #content .flymeFooter .footerInner .footer-layer1 .footer-innerLink {
  height: 50px;
}

body #content .flymeFooter .footerInner .footer-layer1 .footer-innerLink li,
html #content .flymeFooter .footerInner .footer-layer1 .footer-innerLink li {
  line-height: 50px;
  padding-right: 10px;
}

body #content .flymeFooter .footerInner .footer-layer1 .footer-innerLink li a,
html #content .flymeFooter .footerInner .footer-layer1 .footer-innerLink li a {
  padding-right: 10px;
  border-right: 1px solid #000;
  color: #000;
}

body #content .flymeFooter .footerInner .footer-layer1 .footer-innerLink li a:nth-last-child(),
html #content .flymeFooter .footerInner .footer-layer1 .footer-innerLink li a:nth-last-child() {
  border-right: none;
}

body #content .flymeFooter .footerInner .footer-layer1 .footer-service,
html #content .flymeFooter .footerInner .footer-layer1 .footer-service {
  height: 100%;
  margin-left: 36px;
}

body #content .flymeFooter .footerInner .footer-layer1 .footer-service li,
html #content .flymeFooter .footerInner .footer-layer1 .footer-service li {
  line-height: 50px;
  padding-right: 10px;
}

body #content .flymeFooter .footerInner .footer-layer1 .footer-service li a,
html #content .flymeFooter .footerInner .footer-layer1 .footer-service li a {
  background-color: #32A5E7;
  color: #FFF;
}

body #content .flymeFooter .footerInner .footer-layer1 .footer-outerLink,
html #content .flymeFooter .footerInner .footer-layer1 .footer-outerLink {
  position: relative;
}

body #content .flymeFooter .footerInner .footer-layer1 .footer-outerLink li,
html #content .flymeFooter .footerInner .footer-layer1 .footer-outerLink li {
  line-height: 50px;
  width: 32px;
  height: 32px;
  margin-left: 15px;
}

body #content .flymeFooter .footerInner .footer-layer1 .footer-outerLink li .iconfont,
html #content .flymeFooter .footerInner .footer-layer1 .footer-outerLink li .iconfont {
  font-size: 30px;
  color: #A8A8A8;
}

body #content .flymeFooter .footerInner .footer-layer1 .footer-outerLink li .icon-kongjian,
html #content .flymeFooter .footerInner .footer-layer1 .footer-outerLink li .icon-kongjian {
  font-size: 38px;
}

body #content .flymeFooter .footerInner .footer-layer2,
html #content .flymeFooter .footerInner .footer-layer2 {
  position: absolute;
  bottom: 0;
  height: 18px;
  font-size: 12px;
}

body #content .flymeFooter .footerInner .footer-layer2 a,
html #content .flymeFooter .footerInner .footer-layer2 a {
  color: #A8A8A8;
}
